<div class="container">
<h1>My bookings</h1>

<div class="card-small">
      <% @bookings.each do |booking|%>
        <div class='card'>
          <%# add link %>
            <div class="card-img-top">
            <% if booking.product.photo.attached?%>
              <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path booking.product.photo.key, height: 400, crop: :fill %>')">
              </div>
            <% end %>
            </div>

            <div class="card-body">
              <div class="card-text">
                <div class="card-info d-flex justify-content-between">
                  <div>
                    <p>
                      From: <%= booking.start_date.day %>
                       /<%= booking.start_date.month %>
                       /<%= booking.start_date.year %>
                    </p>
                  </div>
                  <div>
                    <p>
                      Until: <%= booking.end_date.day %>
                      /<%= booking.end_date.month %>
                      /<%= booking.end_date.year %>
                    </p>
                  </div>
                </div>
              </div>
            </div>
      </div>
      <% end %>
  </div>
</div>
