<div class="container">
  <div class="header d-flex justify-content-between">
    <div>
      <h1>All Products</h1>
    </div>
    <div>
      <%= form_with url: products_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "What are you looking for?"
        %>
        <%= submit_tag "Search", class: "btn btn-dark" %>
        <% end %>
    </div>
  </div>

  <div class="card-small">
      <% @products.each do |product|%>
        <div class='card'>
          <a href="/products/<%=product.id %>">

            <div class="card-img-top">
            <% if product.photo.attached? %>
              <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path product.photo.key, height: 400, crop: :fill %>')">
              </div>
            <% end %>
            </div>

            <div class="card-body">
              <div class="card-text">
                <div class="card-info d-flex justify-content-between">
                  <div>
                    <h5><%= product.name.capitalize%></h3>
                  </div>
                  <div>
                    <p><%=  product.price %>€/day</p>
                  </div>
                </div>
                <p><%= product.description %></p>
              </div>
            </div>
          </a>
      </div>
      <% end %>
  </div>
</div>
