<div class="container py-5">
  <%# <div class="col-lg-4 mx-auto"> %>
  <div class="d-flex justify-content-sm-center">
    <h1 >New product? <strong>Share</strong> it!</h1>
    <h2></h2>
  </div>

  <%# <div class="row" > %>
    <div class="col-lg-6 mx-auto">
      <%# <div class="card"> %>
        <div class="">
          <ul class="form-boxes">
            <%= simple_form_for @product do |f| %>
              <%= f.input :name, placeholder:"Surf board" %>
              <%= f.input :category, placeholder:"Sports" %>
              <%= f.input :description, placeholder:"The fish" %>
              <%= f.input :price, placeholder:"€/day" %>
              <%= f.input :photo, as: :file %>
              <%# <% url_mapbox = "pk.eyJ1IjoibnJvdWdlciIsImEiOiJjbGEya3d4amUwaHNvM3NwazRsbWVkN2pkIn0.604LgsXW7i9RDHwzT61V5Q" %> %>
              <%# <%= f.input :address, %>
                <%# # input_html: {data: {address_autocomplete_target: "address"}}, %>
                <%# # wrapper_html: {data: {controller: "address-autocomplete", address_autocomplete_api_key_value: ENV[url_mapbox]}} %>
              <div class="d-flex flex-row-reverse">
                <%= f.submit "Create", class:"btn btn-dark" %>
              </div>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
