<div class="container">

  <div class="card-big  d-flex flex-column">

    <div class="card-big-img border border-2"></div>

    <div class="card-product d-flex justify-content-between m-2">

      <div class="title">
        <h2><%= @product.name.upcase %></h2>
        <p><strong><%= @product.category.capitalize %></strong></p>
      </div>

      <img src="https://media-exp1.licdn.com/dms/image/C4D03AQGwUj5ROzfTHw/profile-displayphoto-shrink_800_800/0/1524394381291?e=2147483647&v=beta&t=7o31lI_GFRLb80zvLlpah-wpFdua8vKKgpWqbMwa1PU" alt="" class="avatar-large" id="big-card-avatar">

      <div class="price d-flex align-items-center">
        <p><%= @product.price  %>€/hr</p>
      </div>


    </div>

    <div class="description m-2">
      <p>Description:<%= @product.description.capitalize %></p>
    </div>

  </div>
  <%= link_to "Edit", edit_product_path, class:"btn btn-dark" %>
  <%= link_to "Delete", product_path(@product), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class:"btn btn-dark" %>
  <%= link_to "Back", products_path, class:"btn btn-dark" %>

</div>
